<h1>Create a new Ballot!</h1>
<p>Add selections to vote on and send this ballot to your friends:</p>

<%= form_for(@ballot) do |ballot| %>
    <%= ballot.label "Who is making this ballot?" %>
    <%= ballot.text_field :electioneer %>
    
    <%= ballot.label "What are you voting on?" %>
    <%= ballot.text_field :name %>
    <br/>
    <%= ballot.fields_for :selection do |selection_fields| %>
        <% selection_fields.label "Write a choice:" %>
        <% selection_fields.text_field :name %>
    <% end %>
    <br/>
    <%= ballot.submit "Create a new ballot" %>
    
    
    <br/>
    <%= @ballot.selection.class %>
    <%= debug(@ballot.selection) if Rails.env.development? %>
<% end %>
