<h1>Votes for <%= @ballot.name %></h1>
<h3>Single Vote Selection Counts:</h3>
<ul>
    <% @singleCounts.each do |key, value| %>
        <li><%= key %>:<%= value %></li>
    <% end %>
</ul>
<p>Total votes</p>
<ul>
    <% @ballot.full_vote.each do |vote| %>
        <li><%= vote.single_vote_model.selection_name %></li>
    <% end %>
</ul>

<h3>Approval Vote Selection Counts:</h3>
<ul>
    <% @approvals.each do |key, value| %>
        <li><%= key %>:<%= value %></li>
    <% end %>
</ul>
<p>Total Votes</p>
<% @ballot.full_vote.each do |vote| %>
    <ul>
        <% vote.approval_vote_model.approval_entry.each do |approval_entry| %>
            <li><%= approval_entry.selection_name %></li>
        <% end %>
    </ul>
<% end %>

<h3>Ranked Vote Selection Counts:</h3>
<p>Coming soon</p>
<p>Total Ranked Votes</p>
<div>
<% @ballot.full_vote.each do |rankedVote| %>
    <ul>
    <% rankedVote.ranked_vote_model.ranking.each do |ranking| %>
        <li><%= ranking.rank %>, <%= ranking.selection.name %></li>
    <% end %>
    </ul>
<% end %>
</div>